div{
  width: 100%;
  height: 100%;
}
.Apphome{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
}
.Apporder {
  width: 100%;
  display: grid;
  grid-template-rows: 175.6px 87.8px 176.8px auto;
  grid-template-columns: 100%;
}

.header{
  grid-row-start: 1;
  grid-row-end: 2;
}
.middle{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: hidden;
}
@media screen and (min-width: 600px){
  .footer{
    position: fixed;
    height: 50vh;
    width: 60vw;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}


@media screen and (max-width: 599px){
  .footer{
    position: fixed;
    height: 50vh;
    width: 80vw;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}

@media screen and (max-height:500px) {
  .footer{
    position: fixed;
    height: 70vh;
    width: 60vw;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
    
}

.sideScroll{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
}
.deliver{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-start: 3;
  display: flex;
  align-items: center;
}
.cart{
  position: fixed;
  height:10%;
  width: 100%;
  bottom: 0%;
  left:0px;
  display: flex;
  align-items: center;
}

.item{
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-start: 4;
  display: flex;
  align-items: center;
}