.containerh{
    height: 100%;
    display: grid;
    grid-template-columns: 15% 15% auto 25%;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2{

    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.item3{
    height: 100%;
    width: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.logo{
    height: auto;
    width:33%;
}
.item44{
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
} 
.total{
    position: relative;
    top:-40px;
    left:0px;
    width:40px;
    height:40px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
@media screen and (min-width:649px) {
    #bars{
        width:60%;
        height: auto;
    }
    
}
@media screen and (max-width:650px) {
    #bars{
        width:100%;
        height: auto;
    }
    
}